@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:
    [ 200,
    500,
    700];
  font-style: normal;
}

body {
  @apply bg-backgroundMain;
}

.custom-hover {
  transition:
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}

.custom-size {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.custom-transition {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out,
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}

/* Firefox cтилі для горизонтального скролу - не коректно працюють */
/*.scrollbar {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 #eaeef2;
} */

.scrollbar::-webkit-scrollbar {
  height: 8px;
  margin-top: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #eaeef2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar-track {
  background-color: #eaeef2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar-button {
  display: none;
}

/* notification animation react-toastify*/
.notificationAnimation-in {
  animation: notificationAnimation-in 1s ease-out both;
}
@keyframes notificationAnimation-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.notificationAnimation-out {
  animation: notificationAnimation-out 1s ease-in both;
}
@keyframes notificationAnimation-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

/* react-calendar */
.react-calendar {
  position: absolute;
  top:34px;
  right: 0px;
  border: 1px solid #436b88;
  border-radius: 12px;
  padding: 24px;
  width: 385px;
  max-width: 100%;
  font-family: "Inter";
  font-weight: 500;
  background: #fdfeff;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #0a0a0a;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 0px;
}

button.react-calendar__navigation__label {
  min-width: 24px;
  flex-grow: 0 !important;
  text-align: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button {
  font-family: "Nunito";
  text-transform: capitalize;
  font-weight: 500;
  line-height: 160%;
  text-align: center;
  margin-bottom:10px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fdfeff;
}
.react-calendar__navigation button[disabled] {
  background-color: #fdfeff;
}


.react-calendar__month-view__weekdays {
  margin-bottom: 48px;
  border-bottom: 1px solid #f5f5f5;
}

abbr[title] {
  font-weight: 500;
  text-decoration: none;
}
abbr {
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
}

.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__weekdays > div:nth-child(6),
.react-calendar__month-view__weekdays > div:nth-child(7) {
  color: #e9897c;
}

.react-calendar__month-view__days > button {
  width: 48px;
  height: 48px;
}


.react-calendar__tile--now {
  background: #bfdef5;
  border-radius: 6px;
  font-weight: 700;
  color: #0a0a0a;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: rgba(208, 232, 197, 0.4);
  border-radius: 6px;
  color: #0a0a0a;
}


.modalScroll{
  height: auto;
  max-height: calc(100vh*0.75);
  overflow: hidden auto;
  scrollbar-width: thin;
}
