@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:
    [ 200,
    700];
  font-style: normal;
}
