@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:
    [ 200,
    500,
    700];
  font-style: normal;
}

body {
  @apply bg-backgroundMain;
}

.custom-hover {
  transition:
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}

.custom-size {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.custom-transition {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out,
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}
