@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200, 500, 700;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-backgroundMain;
}

.container {
  max-width: 120rem;
}

.custom-hover {
  transition:
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}

.custom-size {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.custom-transition {
  transition:
    width 500ms ease-in-out,
    padding 500ms ease-in-out,
    margin 500ms ease-in-out,
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out,
    fill 300ms ease-in-out,
    color 300ms ease-in-out;
}

/* Firefox cтилі для горизонтального скролу - не коректно працюють */
/*.scrollbar {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 #eaeef2;
} */

.scrollbar::-webkit-scrollbar {
  height: 8px;
  margin-top: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #eaeef2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar-track {
  background-color: #eaeef2;
  border-radius: 4px;
}

.scrollbar-y::-webkit-scrollbar-button {
  display: none;
}

/* notification animation react-toastify*/
.notificationAnimation-in {
  animation: notificationAnimation-in 1s ease-out both;
}
@keyframes notificationAnimation-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.notificationAnimation-out {
  animation: notificationAnimation-out 1s ease-in both;
}
@keyframes notificationAnimation-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

/* react-calendar */
.job-calendar.react-calendar {
  border: 1px solid #436b88;
  border-radius: 12px;
  padding: 24px;
  width: 385px;
  max-width: 100%;
  font-weight: 500;
  background: #fdfeff;
  font-family: "Nunito";
  text-align: center;
  color: #0a0a0a;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-weight: 500;
}

.job-calendar .react-calendar__navigation {
  font-size: 20px;
  line-height: 160%;
}

.statistics-calendar .react-calendar__navigation {
  font-size: 16px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .statistics-calendar .react-calendar__navigation {
    font-size: 20px;
    gap: 16px;
  }
}
/* @media screen and (min-width: 1280px) {
  .statistics-calendar .react-calendar__navigation {
    font-size: 20px;
    gap: 16px;
  }
} */
/* @media screen and (min-width: 1440px) {
  .statistics-calendar .react-calendar__navigation {
    font-size: 20px;
    gap: 16px;
  }
} */
@media screen and (min-width: 1920px) {
  .statistics-calendar .react-calendar__navigation {
    font-size: 28px;
  }
}

.react-calendar__navigation button {
  text-transform: capitalize;
}

.job-calendar .react-calendar__navigation,
.statistics-calendar__day .react-calendar__navigation {
  padding-top: 4px;
  padding-bottom: 4px;
}

.statistics-calendar__months .react-calendar__navigation,
.statistics-calendar__years .react-calendar__navigation,
.statistics-calendar__day .react-calendar__navigation {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .statistics-calendar__months .react-calendar__navigation,
  .statistics-calendar__years .react-calendar__navigation {
    margin-bottom: 24px;
  }
  .statistics-calendar__day .react-calendar__navigation {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1920px) {
  .statistics-calendar__months .react-calendar__navigation,
  .statistics-calendar__years .react-calendar__navigation,
  .statistics-calendar__day .react-calendar__navigation {
    margin-bottom: 16px;
  }
}

button.react-calendar__navigation__label {
  min-width: 24px;
  flex-grow: 0 !important;
  text-align: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.job-calendar .react-calendar__navigation button:enabled:hover,
.job-calendar .react-calendar__navigation button:enabled:focus {
  background-color: #fffefd;
}
.job-calendar .react-calendar__navigation button[disabled] {
  background-color: #fdfeff;
}

.react-calendar__month-view__weekdays {
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.statistics-calendar__day .react-calendar__month-view__weekdays abbr,
.statistics-calendar__day abbr {
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .statistics-calendar__day .react-calendar__month-view__weekdays abbr,
  .statistics-calendar__day abbr {
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1920px) {
  .statistics-calendar__day .react-calendar__month-view__weekdays abbr,
  .statistics-calendar__day abbr {
    font-size: 24px;
    line-height: 32px;
  }
}

/* .job-calendar .react-calendar__month-view__weekdays {
  margin-bottom: 48px;
} */

abbr[title] {
  text-decoration: none;
}
abbr {
  text-transform: uppercase;
  font-family: "Nunito";
  text-align: center;
}

.job-calendar abbr {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}

.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__weekdays > div:nth-child(6),
.react-calendar__month-view__weekdays > div:nth-child(7) {
  color: #e9897c;
}

.job-calendar .react-calendar__month-view__days > button {
  width: 48px;
  height: 48px;
}

.statistics-calendar__day .react-calendar__month-view__days > button {
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 768px) {
  .statistics-calendar__day .react-calendar__month-view__days > button {
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 1920px) {
  .statistics-calendar__day .react-calendar__month-view__days > button {
    width: 60px;
    height: 60px;
  }
}

.react-calendar__tile--now {
  background: #dbdcdd;
  border-radius: 100px;
  font-weight: 500;
  color: #333;
}

/* .job-calendar .react-calendar__tile--now {
  background: #bfdef5;
  border-radius: 6px;
  font-weight: 700;
  color: #0a0a0a;
}

.statistics-calendar__day .react-calendar__tile--now,
.statistics-calendar__months .react-calendar__tile--now,
.statistics-calendar__years .react-calendar__tile--now {
  background: #DBDCDD;
  border-radius: 100px;
  font-weight: 500;
  color: #333
} */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: #c6e7ff;
  border-radius: 100px;
  color: #333;
}

/* .job-calendar .react-calendar__tile:enabled:hover,
.job-calendar .react-calendar__tile:enabled:focus {
  background: rgba(208, 232, 197, 0.4);
  border-radius: 6px;
  color: #0a0a0a;
}

.statistics-calendar__day .react-calendar__tile:enabled:hover,
.statistics-calendar__day .react-calendar__tile:enabled:focus,
.statistics-calendar__months .react-calendar__tile:enabled:hover,
.statistics-calendar__months .react-calendar__tile:enabled:focus,
.statistics-calendar__years .react-calendar__tile:enabled:hover,
.statistics-calendar__years .react-calendar__tile:enabled:focus {
  background: #C6E7FF;
  border-radius: 100px;
  color: #333;
} */

.react-calendar__year-view__months,
.react-calendar__decade-view__years {
  gap: 24px;
  padding-left: 66px;
  padding-right: 66px;
}

.react-calendar__year-view__months > button,
.react-calendar__decade-view__years > button {
  flex: 0 0 auto !important;
  overflow: visible !important;
  margin-inline-end: unset !important;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 500;
}

.react-calendar__year-view__months .react-calendar__tile--now,
.react-calendar__year-view__months .react-calendar__tile:enabled:hover,
.react-calendar__year-view__months .react-calendar__tile:enabled:focus,
.react-calendar__decade-view__years .react-calendar__tile--now,
.react-calendar__decade-view__years .react-calendar__tile:enabled:hover,
.react-calendar__decade-view__years .react-calendar__tile:enabled:focus {
  border-radius: 16px;
}

.react-calendar__year-view__months__month > abbr {
  display: none; /* приховуємо стандартний текст місяців */
}
.react-calendar__year-view__months__month > span {
  display: inline-block; /* кастомний скорочений текст місяців*/
}

/* Приховані клітинки для днів з іншого місяця */
.calendar-hidden-cell {
  visibility: hidden; /* Приховує текст і контент клітинки */
  pointer-events: none; /* Вимикає взаємодію */
  background-color: transparent; /* Зберігає прозорий фон */
}

.modalScroll {
  height: auto;
  max-height: calc(100vh * 0.75);
  overflow: hidden auto;
  scrollbar-width: thin;
}

@keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: var(--target-width);
  }
}

.bar {
  animation: expandWidth 0.5s ease-out forwards;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.soon-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background: #faf7f7; /* Колір фону під треком */
}
.soon-scroll::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background: #a6aebf;
}
.soon-scroll::-webkit-scrollbar-thumb:hover {
  background: #8f99ad;
}
